.conteiner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

button {
  width: 100px;
  height: 30px;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

button:hover {
  color: black;
}
